/* Font */

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Bad+Script&family=Comfortaa:wght@500&family=Gloria+Hallelujah&family=Great+Vibes&family=Lobster+Two&family=Marck+Script&family=Marhey:wght@300;500;700&family=Montez&family=Noto+Sans+Symbols+2&family=Noto+Sans+Symbols:wght@100&family=Nunito:wght@200;300;400;600&family=Roboto+Slab:wght@300;600;900&family=Sono:wght@400;500;600&family=Uncial+Antiqua&display=swap');


/*
@import url('https://fonts.googleapis.com/css2
?family=Aladin
&family=Bad+Script
&family=Comfortaa:wght@500
&family=Gloria+Hallelujah
&family=Great+Vibes
&family=Lobster+Two
&family=Marck+Script
&family=Marhey:wght@300;500;700
&family=Montez
&family=Noto+Sans+Symbols+2
&family=Noto+Sans+Symbols:wght@100
&family=Nunito:wght@200;300;400;600
&family=Marck+Script:wght@300;600;900
&family=Sono:wght@400;500;600
&family=Uncial+Antiqua
*/
/*
 Colors:
    https://colorhunt.co/palette/48383842855b90b77dd2d79f
    --dark: #483838;
    --high: #D2D79F;
    --back: #42855B;
    --text: #90B77D;
    https://colorhunt.co/palette/1c67583d8361d6cda4eef2e6
    --dark: #1C6758;
    --high: #EEF2E6;
    --back: #3D8361;
    --text: #D6CDA4;

    --dark: #;
    --high: #;
    --back: #;
    --text: #;

    --dark: #;
    --high: #;
    --back: #;
    --text: #;



/*
 Adding accordion system
 https://stackoverflow.com/questions/71494091/html-two-level-accordion-menu-hiding-and-not-adding-content
 */

:root {
    #TemplateColors: Example;
    --ally: #11f027;
    --back: #0f2717;
    --dark: #271d1d;
    --darker: #1b1414;
    --error: #f96936;
    --friendly: #0feaf5;
    --high: #f98146;
    --ourselves: #cd08cd;
    --text: #f9dcb5;
    --warn: #90681f;
    --text-link: #f0be9c;
}

body {
    background: var(--dark) url(https://howlingsails.com/static/images/background/gravel.png);
    color: var(--text);
    font-family: 'Nunito';
    font-size: 1.5vh;
    font-spacing: 1.6vh;
    line-height: 1.3em;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

hr {
    color: var(--dark);
    line-height: 1.5em;
    width: 80%;
}

.script-font {
    font-family: 'Aladin', cursive;
}

strong {
    font-family: 'Aladin', cursive;
    font-weight: bold;
    letter-spacing: 0.15em;
    padding: 0.2em;
}

a {
    color: var(--text-link);
    font-family: 'Aladin', cursive;
    letter-spacing: 0.15em;
    padding: 0.2em;
    quotes: "“" "”" "‘" "’";
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.03em;
    text-underline-offset: 0.3em;
}

.hamburger-menu {
    background-color: var(--dark);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 28px;
    justify-content: space-between;
    position: fixed;
    left: 10px;
    top: 5px;
    padding: 1px;
    width: 28px;
    z-index: 250;
    align-items: center;
    vertical-align: middle;

}

.menu-icon {
    background-color: black;
    border-radius: 2px;
    height: 4px;
    padding: 2px;
    width: 40px;
}

.hamburger-link {
    background: var(--back) url(https://howlingsails.com/static/images/background/med-green-felt.png);
    border: 3px solid var(--warn);
    border-radius: 0.5em;
    margin: 1vh;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.hamburger-panel {
    background: var(--dark) url(https://howlingsails.com/static/images/background/cardboard.png);
    display: none;
    padding: 10px;
    position: fixed;
    left: 10px;
    top: 35px;
    z-index: 300;
    min-width: 80vh;
    min-height: 80vh;
    max-width: 90vh;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    border: solid 0.2em;
    border-radius: 0.5em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


* {
    box-sizing: inherit;
}

.suspicion {
    color: var(--warn)
}

.enemy {
    color: var(--error);
}

.friendly {
    color: var(--friendly);
}

.ally {
    color: var(--ally);
}

.ourselves {
    color: var(--ourselves);
}

.state_title {
    font-size: 10vh;
    text-align: center;
}

.burgs {
    display: block;
    font-size: 7vh;
    padding: 0.5em;
}

.burg_name {
    align-content: space-evenly;
    display: block;
    padding: 0.25em;

}

.grid_item {
    background: var(--back) url(https://howlingsails.com/static/images/background/black-orchid.png);
    border: solid var(--warn);
    border-radius: 15px;
    box-shadow: 4px 4px var(--dark);
    font-size: 9vh;
    margin: 5px;
    padding: 10px;
}

.grid_panel {
    display: block;
    letter-spacing: 2px;
}

.resources_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resource {
    letter-spacing: 0.2em;
    margin: 5px;
    padding: 2px;
}

.world_states {
    display: grid;
    grid-template-columns: 100%;;

}

.burgLeader {
    background: var(--back);
    border-radius: 0.5em;
    cursor: pointer;
    line-height: 1.2em;
    margin: 15px;
    padding: 15px;
}

.m5_p5_ws1 {
    margin: 5px;
    padding: 5px;
    word-spacing: 1px;
}

.td {
    align-items: center;
    text-align: center;
}

.green_felt_bb_r_n_p {
    background: var(--back) url(https://howlingsails.com/static/images/background/med-green-felt.png);
    border: 2px solid var(--warn);
    border-radius: 0.5em;
    margin: 0.7em;
    padding: 0.5em;
}

.m16 {
    font-size: 16px;
}

.burgDetailLink {
    margin: 5px;
}

.speakToMeNow {
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    position: relative;
}

.command_button {
    align-items: center;
    background: var(--dark) url(https://howlingsails.com/static/images/background/black-orchid.png);
    border: solid 0.1em var(--warn);
    border-radius: 0.5em;
    height: 2.5em;
    marging-left: 0.5em;
    position: absolute;
    right: -0.3em;
    top: -0.8em;
    width: 2em;
    z-index: 100;
}

.top_button {
    cursor: pointer;
    display: flex;
    font-size: 3vh;
    font-weight: 50;
    left: -0.5em;
    line-height: 0.6em;
    marging-right: -1.3em;
    position: absolute;
    top: 0em;
    width: 1em;
    z-index: 100;
}

.menu_button {
    cursor: pointer;
    display: flex;
    font-size: 12vh;
    font-weight: 50;
    left: -0.5em;
    line-height: 0.6em;
    marging-right: -1.3em;
    position: absolute;
    top: 1.25em;
    width: 1em;
    z-index: 100;
}

.commander_button {

    cursor: pointer;
    display: flex;
    font-weight: 250;
    line-height: 0.8em;
    position: absolute;
    right: 0em;
    top: -20px;
    z-index: 70;
}

.buttons {
    margin: .2vh;
}

.text_to_speech {
    font-size: 1.5vh;
}

.cancel {
    font-size: 1.5vh;
}

.copy_text_button {
    font-size: 1.5vh;
}

. copy_html_button {
    font-size: 1.5vh;
}

.cmd {
    vertical-align: middle;
    align-items: center;
    margin-right: 1vh;
}

.ad_grid {
    align-items: center;
    display: flex;
    flex-grow: initial;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

.ad_youtube {
    font-size: 3vh;
    line-height: 1.0em;
    padding: 0.5em;
    vertical-align: middle;
    width: 600px;

}

.speakToMeNow {
    padding-left: 1em;
    padding-top: 1.2em;
}

.ad_item {
    align-items: center;
    display: flex;
    font-size: 3vh;
    height: 315px;
    justify-content: center;
    line-height: 1.0em;
    padding: 0.5em;
    vertical-align: middle;
    width: 140px;

}

.burgSummary {
    background: var(--back);
    border: 2px solid var(--warn);
    border-radius: 0.5em;
    line-height: 3vh;
    margin: 0.2em 0.2em;
    padding: 0.8em 0.3em 0.5em;
}
.cardContainer {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: var(--back);
    border: 2px solid var(--warn);
    border-radius: 0.8em;
    flex-grow: 3;
    font-size: 3vh;
    line-height: 1.2em;
    margin: auto;
    padding: 0.3em;
    text-align: center;

}

.card-2x {
    background: var(--back);
    border: 2px solid var(--warn);
    border-radius: 0.8em;
    flex-grow: 3;
    font-size:3vh;
    line-height: 1.2em;
    margin: auto;
    padding: 0.3em;
    text-align: center;
}

.attributes {
    background: var(--back);
    border: 2px solid var(--warn);
    border-radius: 0.8em;
    font-size: 3vh;
    line-height: 2em;
    margin: 0.2em;
    text-align: center;
}

.burgHeader {
    background: var(--dark) url(https://howlingsails.com/static/images/background/black-orchid.png);
    border: solid 0.1em var(--warn);
    border-radius: 0.7em;
    cursor: pointer;
    display: block;
    letter-spacing: 0.02em;

    margin: 0.2em;
    margin-left: 0.5em;
    padding: 0.5em;
    text-shadow: -2px 2px var(--back);
}

small {
    font-size: 1vh;
    letter-spacing: 0em;
}

.voice_option_dialog {
    background: var(--dark) url(https://howlingsails.com/static/images/background/cardboard.png);
    border: solid 3px var(--warn);
    position: fixed;
    font-size: 3vh;
    top: 50px;
    left: 50px;
    z-index: 200;
}

.districtHeader {
    margin: 5px;
    padding: 2px;
    text-shadow: 1px 1px var(--back);
    vertical-align: center;
    width: 50%;

}

.districtIndustry {
    background: var(--back) url(https://howlingsails.com/static/images/background/med-green-felt.png);

    border: solid 3px var(--warn);
    border-radius: 15px;
    box-shadow: 5px 5px var(--dark);
    display: block;
    margin: 5px;
    padding: 5px;

}

.districts {
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.districtSummary {
    background: var(--dark) url(https://howlingsails.com/static/images/background/med-green-felt.png);
    border: solid 2px var(--warn);
    border-radius: 25px;
    margin: 15px;
}

.header_icons {
    align-content: space-evenly;
    background: var(--dark) url(https://howlingsails.com/static/images/background/black-orchid.png);
    border: solid 0.1em var(--warn);
    border-radius: 0.5em;
    display: flex;
    left: 3em;
    padding: 0.1em;
    position: absolute;
    top: -3em;
    z-index: 100;

}

/*****************
 * iframe, flex stretch 100 by 100
 *****************/
.iframe-border_panel {

}

.iframe_size_out {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    flex-grow: 10;
    height: 50vh;
    width: 50vh;
}

/*****************
 * Industries
 *****************/
.industries {
    align-items: stretch;
    background: var(--back) url(https://howlingsails.com/static/images/background/black-orchid.png);
    border: solid 2px;
    border-radius: 15px;
    display: block;
    margin: auto;
    padding: 20px;

}

.section_group {
    background: var(--dark) url(https://howlingsails.com/static/images/background/french-stucco.png);
    border: solid 0.2em;
    border-radius: 0.5em;
    margin: 0.2em 0.1em 1em;
    padding: 0.5em 0.5em 1.05em;
}

.sub_section_group {
    background: var(--dark) url(https://howlingsails.com/static/images/background/church.png);
    border: solid 0.2em;
    border-radius: 0.5em;
    margin: 0.3em;
    padding: 0.1em;

}

.industrySummary {
    margin: 5px;
}

.industryTitle {
    #width: 100%;
    font-style: oblique;
    padding: 5px;
    text-shadow: 1px 1px var(--dark);

}

/*****************
 * Markers
 *****************/
.markerAdventure {
    background-color: var(--back);
    border: solid 2px;
    border-radius: 5px;
    display: flex;
    margin: 5px;
    padding: 20px;

}

.markerAdventureBuilder {
    background-color: var(--back);
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin: .2vh;
    padding: .5vh;

}

.markerStories {
    border: solid 2px;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

.root_div {
    margin: 1vh;
}

.material-symbols-outlined {
    background: var(--dark) url(https://howlingsails.com/static/images/background/dark-gold-fabric);
    border: solid 0.05em var(--text);


    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 3vh; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.resourceSummary {
    margin: 5px;
}

.spirit_card {
    padding: 2%
}

.state_card {
    padding: 2%;
}

/*****************
 * workers
 *****************/
.worker_details {
    background: var(--back) url(https://howlingsails.com/static/images/background/cross-scratches.png);
    border: 2px var(--warn);
    border-radius: 25px;
    color: var(--text);
    display: none;
    margin: 15px;
    padding: 10px;
    padding: 10px;
    position: center;
    text-align: left;
    visibility: hidden;

    /* Position the tooltip */

    z-index: 10;

}

.worker_summary {
    display: inline-list-item;
    padding: 3px;
}

.worker_summary > ul {
    padding-left: 14px;
}

.religion-generator {
    background: var(--back);
    border-radius: 25px;
    display: block;
    height: 800px;
    padding: 15px;

}

.spiritually_summary {
    background: var(--back) url(https://howlingsails.com/static/images/background/green-forest.png);
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
}



@media (max-width: 800px) {
    .buttons {
        top: -3px;
    }
    . . .
}

.industries {
    display: block;
    grid-template-columns: 100%;
    scroll-behavior: auto;
. . .
}

.section_group {
    margin: 0.2em 0.1em 1em;
    padding: 0.5em 0.5em 1.05em;

. . .
}

.subsection_group {
    margin: 0.1em;
    padding: 0.1em;
. . .
}

.resources_group {
    grid-template-columns: 100%;
. . .
}

.grid_panel_2 {
    grid-template-columns: 100%;
. . .
}

